# 虚拟环境
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# 日志文件
*.log

# 本地配置文件
.env
.env.*

.cursor/
.gitignore

# IDE配置
.idea/
.vscode/

# 测试文件
test/
tests/

# Git相关
.git/
.gitignore

# Docker相关
.dockerignore
Dockerfile
docker-compose*.yml 